fastapi
uvicorn
SQLAlchemy
pydantic
psycopg2-binary==2.9.10
python-dotenv
langchain
google-generativeai
pandas
plotly  
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
